.sidebar {
    width: 240px;
    float: right;
}

.sidebar__city {
    background-color: rgba(255,255,255,.4);
}

.sidebar__city-choose {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.0); /* иначе будет обычный белый цвет */
    border: none;
    /* убираем стандартную стрелочку */
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    background-image: url('../img/select-arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
}
/* то же самое для старых ИЕ */
.sidebar__city-choose::-ms-expand {
    display: none;
}

.sidebar__auth {
    background-color: rgba(255,255,255,.4);
}

.sidebar__gismeteo {
    background-color: rgba(0,0,255,.1) !important;
    /* !important нужен, чтобы перебить стили задаваемые скриптами */
}

.sidebar__poll {
    background-color: rgba(255,255,255,.4);
}

.sidebar__auth-title, .sidebar__poll-title {
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 110%;
    margin-top: -5px;
}

.sidebar__auth-title {
    height: 10px;
}

.sidebar__auth-input {
    width: 200px;
    margin-left: -2px;
    padding: 5px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    behavior: url(PIE-1.0.0/PIE.htc);
}

.sidebar__auth-para_login {
    margin-top: 5px;
    margin-right: 9px;
}

.sidebar__auth-para_login,.sidebar__auth-para_pass {
    font-size: 18px;
}

.sidebar__auth-btn {
    margin-top: 10px;
}

.sidebar__city,.sidebar__auth,.sidebar__gismeteo, .sidebar__poll {
    border: 3px solid #000000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    behavior: url(PIE-1.0.0/PIE.htc);
}

.sidebar__auth-form {
    margin-top: 5px;
}

.sidebar__poll-answers {
    display: block;
}

.sidebar__poll-answer {
    margin-top: -10px;
    margin-right: 1px;
}

.sidebar__poll-input {
    margin-right: 8px;
}

.sidebar__auth-btn,.sidebar__poll-btn {
    margin-left: 20%;
    background: transparent;
    border: 2px solid #000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 5px;
    behavior: url(PIE-1.0.0/PIE.htc);
}

.gsInformer {
    width: 215px !important;
}

