<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    // Проверяем, подключился ли jquery с cdn. Если нет - загружаем из папки
    // Лучше, когда библиотека загружается с cdn - страница загружается быстрее
    // Но если скорость соединения хорошая - разницы нет
    window.jQuery || document.write('<scr' + 'ipt src=\"{{ config.base_url }}js/jquery.min.js\"></scr' + 'ipt>');
    // Используется старая версия (1.11.3), т.к. поддерживается IE8

    // Библиотека html5shiv позволяет старым браузерам отображать новые теги HTML5.
</script>
<script src="{{ config.base_url }}js/html5shiv.min.js"></script>
<script src="{{ config.base_url }}js/html5shiv-printshiv.min.js"></script>
<script src="{{ config.base_url }}js/main.js"></script>
</body>
</html>