<!-- Если браузер internet explorer 8 или ниже, сайт будет работать более-менее, но появится предупреждение -->
<!--[if gte IE 8]>
<div class="ie-warning">
    <p class="ie-warning__para">Вы используете <strong>устаревший браузер</strong>.</p>
    <p class="ie-warning__para">Пожалуйста, скачайте более новый браузер по <a href="http://browsehappy.com/" target="_blank">этой ссылке</a>, в противном случае корректная работа сайта не гарантируется.</p>
</div>
<![endif]-->
<!-- Заголовок меню -->
<header class="header">
    <h4 class="header__title">Здоровый образ жизни</h4>
    <ul class="header__menu">
        <li class="header__list"><a href="/" class="header__link
            {% if current == 'index' %} current {% endif %}
        ">Новости</a></li>
        <li class="header__list"><a href="/areas" class="header__link
            {% if current == 'areas' %} current {% endif %}
        ">Площадки</a></li>
        <li class="header__list"><a href="/secs" class="header__link
            {% if current == 'secs' %} current {% endif %}
        ">Секции</a></li>
        <li class="header__list"><a href="/gto" class="header__link
           {% if current == 'gto' %} current {% endif %}
        ">ГТО</a></li>
        <li class="header__list"><a href="/iwannatrain" class="header__link
            {% if current == 'iwannatrain' %} current {% endif %}
        ">Хочу!</a></li>
        <li class="header__list"><a href="/calendar" class="header__link
           {% if current == 'calendar' %} current {% endif %}
        ">Календарь</a></li>
        <li class="header__list"><a href="/info" class="header__link
          {% if current == 'info' %} current {% endif %}
        ">Материалы</a></li>
        <li class="header__list"><a href="/equipment" class="header__link
          {% if current == 'equipment' %} current {% endif %}
        ">Экипировка</a></li>
        <li class="header__list"><a href="/about" class="header__link
          {% if current == 'about' %} current {% endif %}
        ">О проекте</a></li>
    </ul>
</header>