{% extends 'main_template.twig' %}

{% block content %}
    <div class="content__item">
        <h4 class="content__item-title">На территории НГТУ планируют построить спортплощадки уличных культур</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            01/03/2012, 01:51
        </p>
        <div class="content__item-text">
            <p>Новосибирская ассоциация молодежных спортивных движений и стрит-культур Street Russia представила
                проекты строительства центра уличного стритбола, паркур-парка, экстрим-парка и футбольной площадки,
                которые должны будут разместиться на территории технического университета. Как сообщили
                «ФедералПресс» в пресс-службе правительства Новосибирской области, завершить возведение объектов
                планируется уже летом нынешнего года.</p>

            <p>«Первый этап проекта Street Russia был запущен в конце прошлого года – была достигнута договоренность
                с ректором НГТУ Николаем Пустовым о создании площадки экстрим-парка на базе университета, – передает
                пресс-служба слова начальника управления по делам молодежи Новосибирской области Веры Пронькиной. –
                Следует отметить, что это будет уникальная площадка, где будут объединены сразу несколько видов
                стрит-культур».</p>

            <p>Как отметили в пресс-службе, возведение этих объектов будет проводиться силами самой молодежи, а
                основная цель проекта заключается в объединении активной молодежи региона, создании условий для
                реализации ее идей, а также в привлечении молодежи к спорту.</p>
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: 155
            |
            <span class="icon-bubble2"></span>
            Комментариев: 20
        </p>
    </div>
{% endblock %}