{% extends 'main_template.twig' %}

{% block content %}
    <div class="content__item">
        <h4 class="content__item-title">Спортивная экипировка на зиму</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            05/01/2016, 08:56
        </p>
        <div class="content__item-text">
            <iframe width="700" height="315" src="https://www.youtube.com/embed/VDnomEWGV-s" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: 155
            |
            <span class="icon-bubble2"></span>
            Комментариев: 20
        </p>
    </div>
    <div class="content__item">
        <h4 class="content__item-title">Одежда для верховой езды</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            05/01/2016, 08:56
        </p>
        <div class="content__item-text">
            <iframe width="700" height="315" src="https://www.youtube.com/embed/VtTPhIUroOs" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: 155
            |
            <span class="icon-bubble2"></span>
            Комментариев: 20
        </p>
    </div>
    <div class="content__item">
        <h4 class="content__item-title">Экипировка для пауэрлифтинга</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            05/01/2016, 08:56
        </p>
        <div class="content__item-text">

            <p>(<a href="http://bodymaster.ru" target="_blank"></a>http://bodymaster.ru)</p>
            <p>Появление экипировки для пауэрлифтинга связано с необходимостью предотвратить получение травм, а также желанием увеличить рабочий вес в каждом упражнении на 5-10 кг.</p>
            <p>Пауэрлифтинг – очень серьезный спорт, поэтому вы должны обращать особое внимание на выбор высококачественной экипировки для пауэрлифтинга, которая играет в не последнюю роль в достижении цели.</p>
            <p style="text-align: center;">
                <img src="{{ config.base_url }}img/equipment/1.jpg" alt="Изображение не удалось загрузить">
            </p>
            <p>Изначально появление спецодежды и оборудования для пауэрлифтинга было обосновано необходимостью предотвратить получение травм и желанием увеличить рабочий вес на 5-10 кг в каждом упражнении.</p>
            <p>Современная экипировка значительно расширила свои возможности: теперь спортсмен благодаря грамотному выбору одежды и аксессуаров может увеличить вес в среднем на 50 кг в каждом упражнении, а максимальная цифра достигает 150 кг! Благодаря такой экипировке пауэрлифтинг стал еще зрелищнее.</p>
            <p>Экипировка для пауэрлифтинга включает бинты на запястья и на колени, комбинезон для приседаний, трико для жима, майка для жима лежа, комбинезон для становой тяги и специальная обувь (ботинки для становой тяги, штангетки).</p>
            <p>Экипировка – это не просто одежда для занятий на тренировке, это одежда, обувь и дополнительные приспособления, которые применяются во время подъема штанги и разрешены федерациями для использования во время соревнований. Главная задача экипировки для пауэрлифтинга – предупреждение травмы при подъеме большого веса, а также помощь спортсмену во время упражнения.</p>
            <p>Современная экипировка для пауэрлифтинга позволяет увеличить вес в среднем на 50 кг в каждом упражнении, а максимальная цифра достигает 150 кг!</p>
            <p>Экипировка разделяется по типам упражнений пауэрлифтинга, для которых она предназначена:</p>
            <p>Экипировка для приседаний включает в себя комбинезон (костюм, трико) для приседаний, коленные и кистевые бинты, пояс и штангетки.</p>
            <p><em>Экипировка для жима лежа</em> – это борцовка (трико для жима лежа, рубашка (майка) для жима лежа, кистевые бинты и штангетки.</p>
            <p><em>Экипировка для становой тяги</em> - комбинезон (костюм, трико) для тяги, пояс, коленные бинты и специальная обувь с резиновой подошвой без каблука. Такая обувь позволяет удерживать вес на пятке и не наклоняться вперед. Как правило, пауэрлифтеры используют специальные ботинки для становой тяги, кеды, чешки или борцовки.</p>
            <p>&nbsp;</p>

            <p>Зачем нужны специальные майки для жимов и обувь? Почему нельзя тренироваться и выступать в обычных кроссовках и футболке? Давайте подробнее остановимся на наиболее важных элементах экипировки пауэрлифтеров.</p>

            <p><strong>Комбинезон для приседаний</strong></p>
            <p style="text-align: center;">
                <img src="{{ config.base_url }}img/equipment/2.jpg" alt="Изображение не удалось загрузить">
            </p>
            <p>Во время выполнения приседаний в тяжелой атлетике у спортсмена есть три слабых места: голеностоп, спина и колени. Их можно подстраховать, используя во время выполнения упражнения также экипировку для пауэрлифтинга: штангетки, пояс и бинты. Однако техника выполнения приседаний в пауэрлифтинге создает и другие слабые места.</p>
            <p>Изменение положения ног дает дополнительную нагрузку на паховую область. Если штанга очень тяжелая, то в нижней точке упражнения есть вероятность сильно просадить низ, что может повлечь за собой серьезную травму связок. Именно для предотвращения этих травм используют специальный комбинезон из жесткого материала с хорошими прочными швами.</p>
            <p>Такая экипировка для пауэрлифтинга жестко обхватывает спину, таз и верх бедра спортсмена, снижая подвижность тазобедренного сустава. Благодаря этому во время просаживания действует не только сила спортсмена, но и сила упругости материала, которая позволяет предотвратить получение травмы и улучшить результат пауэрлифтера.</p>
            <p><strong>Рубашка</strong></p>
            <p>Рубашка помогает минимизировать травмы плеч и груди. С виду это обычная футболка из очень прочной и эластичной ткани, однако, стоит рассмотреть ее внимательнее, как становится заметно, что в области груди она значительно сужена. Такая рубашка плотно облегает тело пауэрлифтера, немного «сворачивая» плечи вперед. Во время жима, когда нужно опускать штангу на грудь, материал рубашки в области груди атлета принимает на себя значительную нагрузку. При опускании он растягивается и, сжимаясь, помогает пауэрлифтеру сорвать штангу с груди.</p>
            <p><strong>Пояс для пауэрлифтинга</strong></p>
            <p style="text-align: center;">
                <img src="{{ config.base_url }}img/equipment/3.jpg" alt="Изображение не удалось загрузить">
            </p>
            <p>Широкий кожаный пояс позволяет атлету предотвратить травмы связок поясничного отдела позвоночника. Эта экипировка для пауэрлифтинга также позволяет увеличить вес во время выполнения приседаний, жима от груди и становой тяги. Когда на вас этот пояс, значительно увеличивается внутрибрюшное давление, поэтому нагрузка на нижний отдел позвоночника снижается примерно на 50%. Это высвобождает некоторую часть мышечной силы, что позволяет увеличить рабочий вес.</p>
            <p><strong>Коленные бинты</strong></p>
            <p>Основная задача бинтов – это защита от травм коленных суставов. Во время выполнения приседаний бинты также помогают встать. Качество этой помощи будет зависеть от вашей техники, и конечно, от типа и качества используемых бинтов.</p>
            <p><strong>Кистевые бинты для пауэрлифтеров</strong></p>
            <p>Бинты предназначены защитить суставы и связки от травм. Они необходимы не только в спорте, но и фитнесе во время проведения силовых тренировок с серьезным отягощением. Эластичная фиксация вокруг сустава позволяет стабилизировать рабочую конечность, что позволяет застраховать ее от разрывов и растяжений во время тренировки.</p>
            <p><strong><em></em>Желательно использовать бинты только во время рабочих подходов и снимать их на период отдыха. Это позволит сохранить нормальный кровоток периферических кровеносных сосудов.</strong></p>
            <p>Для предотвращения болей в запястьях можно использовать напульсники. Они похожи на бинты, только немного короче, тем не менее, по жесткости они ни в чем не уступают.</p>
            <p><strong>Штангетки для пауэрлифтинга</strong></p>
            <p>Штангетки – это обувь из жесткой кожи, которая шнуруется по все длине, туго фиксируя ногу. Она имеют небольшой каблук и жесткую подошву, что позволяет не заваливаться назад.</p>
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: 155
            |
            <span class="icon-bubble2"></span>
            Комментариев: 20
        </p>
    </div>
{% endblock %}