{% extends 'main_template.twig' %}

{% block content %}
<div class="content__item">
    <h4 class="content__item-title">Сборная России сыграет с Финляндией в финале МЧМ-2016</h4>
    <p class="content__item-date">
        <span class="icon-clock"></span>
        05/01/2016, 08:56
    </p>
    <div class="content__item-text">
        Sport.ru / Хоккей. Хоккеисты сборной России сыграют в финале молодёжного чемпионата мира по хоккею в Хельсинки против команды Финляндии.
        Оба финалиста одержали в своих полуфинальных поединках победы с одинаковым счётом (2:1), и оба, что характерно, вынуждены были отыгрываться. Причём сюжет обоих матчей был одинаков. И россияне, и финны уступали после первого периода, соответственно, американцам и шведам, однако во второй 20-минутке переломили ход встречи. Ярко выступил форвард сборной России Егор Коршков, который забросил победную шайбу после индивидуального прохода, который, видимо, от него мало кто из соперников ждал. В третьем периоде и россияне, и финны удержали победный счёт.
    </div>
    <p class="content__item-activity">
        <span class="icon-eye"></span>
        Просмотров: 155
        |
        <span class="icon-bubble2"></span>
        Комментариев: 20
    </p>
</div>
<div class="content__item">
    <h4 class="content__item-title">Сборная России сыграет с Финляндией в финале МЧМ-2016</h4>
    <p class="content__item-date">
        <span class="icon-clock"></span>
        05/01/2016, 08:56
    </p>
    <div class="content__item-text">
        Sport.ru / Хоккей. Хоккеисты сборной России сыграют в финале молодёжного чемпионата мира по хоккею в Хельсинки против команды Финляндии.
        Оба финалиста одержали в своих полуфинальных поединках победы с одинаковым счётом (2:1), и оба, что характерно, вынуждены были отыгрываться. Причём сюжет обоих матчей был одинаков. И россияне, и финны уступали после первого периода, соответственно, американцам и шведам, однако во второй 20-минутке переломили ход встречи. Ярко выступил форвард сборной России Егор Коршков, который забросил победную шайбу после индивидуального прохода, который, видимо, от него мало кто из соперников ждал. В третьем периоде и россияне, и финны удержали победный счёт.
    </div>
    <p class="content__item-activity">
        <span class="icon-eye"></span>
        Просмотров: 155
        |
        <span class="icon-bubble2"></span>
        Комментариев: 20
    </p>
</div>
<div class="content__item">
    <h4 class="content__item-title">Сборная России сыграет с Финляндией в финале МЧМ-2016</h4>
    <p class="content__item-date">
        <span class="icon-clock"></span>
        05/01/2016, 08:56
    </p>
    <div class="content__item-text">
        Sport.ru / Хоккей. Хоккеисты сборной России сыграют в финале молодёжного чемпионата мира по хоккею в Хельсинки против команды Финляндии.
        Оба финалиста одержали в своих полуфинальных поединках победы с одинаковым счётом (2:1), и оба, что характерно, вынуждены были отыгрываться. Причём сюжет обоих матчей был одинаков. И россияне, и финны уступали после первого периода, соответственно, американцам и шведам, однако во второй 20-минутке переломили ход встречи. Ярко выступил форвард сборной России Егор Коршков, который забросил победную шайбу после индивидуального прохода, который, видимо, от него мало кто из соперников ждал. В третьем периоде и россияне, и финны удержали победный счёт.
    </div>
    <p class="content__item-activity">
        <span class="icon-eye"></span>
        Просмотров: 155
        |
        <span class="icon-bubble2"></span>
        Комментариев: 20
    </p>
</div>
{% endblock %}