{% extends 'main_template.twig' %}

{% block content %}
    <div class="content__item">
        <h4 class="content__item-title">Юрий Лодыгин: как отбить пенальти</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            05/01/2016, 08:56
        </p>
        <div class="content__item-text">
            <iframe width="700" height="315" src="https://www.youtube.com/embed/norttdaLxlk" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: 155
            |
            <span class="icon-bubble2"></span>
            Комментариев: 20
        </p>
    </div>
    <div class="content__item">
        <h4 class="content__item-title">Многоповторный Жим</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            05/01/2016, 08:56
        </p>
        <div class="content__item-text">
            <iframe width="700" height="315" src="https://www.youtube.com/embed/JOMSVze_9Q8" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: 155
            |
            <span class="icon-bubble2"></span>
            Комментариев: 20
        </p>
    </div>
    <div class="content__item">
        <h4 class="content__item-title">Экспресс-разминка футбольного вратаря</h4>
        <p class="content__item-date">
            <span class="icon-clock"></span>
            05/01/2016, 08:56
        </p>
        <div class="content__item-text">
            <iframe width="700" height="315" src="https://www.youtube.com/embed/iVegZAF7JII" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="content__item-activity">
            <span class="icon-eye"></span>
            Просмотров: 155
            |
            <span class="icon-bubble2"></span>
            Комментариев: 20
        </p>
    </div>
{% endblock %}